h1{
    text-align:center;
    color:blue;
    font-size:36pt;
  }
  h2{
    color:black;
  }
  h3{
    color:green;
  }
  #MMAImg {
    float:right;
    width:300px;
    height:200px;
  }
  .nameLi{
    color:red;
  }
  body{
    background-color: florawhite;
    border-bottom-style:dashed;
  }
  table{
    border-style:solid;
    border: 2px solid red;
    border-collapse: collapse;
    background-color:#58F655;
  }
  
  
  
  
  